{% macro displayNewsList(news_list) %}

{% for news in news_list %}
    
                <div class="card" style="width: 25rem; margin:5px;">
                    <div class="card-body">
                        <img src="{{ news.urlToImage }}" class="card-img-top" alt="" class="img-responsive">
                        <div class="card-title">{{news.name}} </div>
                        <div class="card-text">{{news.description}} </div>
                        <a href="{{news.url}}" class="btn btn-success">Read more</a>
                    </div>
                </div>

{% endfor %}

{% endmacro %}

